<ion-header>
  <ion-toolbar>
    <ion-title>Confirm Donation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <label>
        <h1>You are Giving:</h1>
      </label>
    </ion-row>
    <ion-row>
      <ion-list>
        <ion-item *ngFor="let item of donations">
          <ion-icon slot="start" *ngIf="item.persistent" [name]="item.icon"></ion-icon>
          <ion-label>{{item.name + " " +item.count}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row>
      <label>
        <h1>To:</h1>
      </label>
    </ion-row>

    <ion-row>
      <ion-card style="width: 100%;">
        <ion-card-content style="width: 100%;">

          <ion-label class="username">
            <h1>Katia</h1>
            <h2>Call for code</h2>
          </ion-label>
          <ion-avatar slot="start" size="large">
            <img src="/assets/img/users/receiver.jpg">
          </ion-avatar>

        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>