@model RexWeb.Models.DonationModel

@{
    ViewData["Title"] = "Donation Details";
}

<main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Donations</h1>
    </div>
    <hr />
    <div>

    </div>
    <div>
        <div id="chart"></div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</main>