<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="end" size="small">
      <img [src]="global.user.avatar">
    <ion-title>Campaigns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let campaign of campaigns" (click)="navigateTo(campaign)">
    <ion-card-header>
      <ion-card-subtitle>{{campaign.Country}}</ion-card-subtitle>
      <ion-card-title>{{campaign.Name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{campaign.Description}}
    </ion-card-content>
  </ion-card>
</ion-content>