<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="end" size="small">
      <img [src]="global.user.avatar">
    </ion-avatar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Receive a Donation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #overlay class="overlay" *ngIf="waiting">
    <ion-spinner #spinner class="spinner"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-card style="width: 90%">
        <ion-card-content>
          <ion-img src="/assets/img/qr.svg"></ion-img>
        </ion-card-content>
      </ion-card>

    </ion-row>
    <ion-row>
      <ion-spinner name="dots" size="large"></ion-spinner>
      <ion-label>
        <p>Awaiting for NFC or QR interaction</p>
      </ion-label>
    </ion-row>
  </ion-grid>

</ion-content>